

body{
    background-image: linear-gradient(to right, #3D5A80, #98C1D9);
}
.App-header{
    min-height: 10vh;
}
.main-panel{
    display: flex;
    align-items: flex-start;
    justify-content: space-around
}
.column{
    min-width: 25vw;
    min-height: 33vh;
    background-color:#293241;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.column-type{
    color: aliceblue;
    margin-top: 12px;
}
.task{
    background-color: floralwhite;
    border-radius: 5px;
}

.task:hover{
    background-color: gray;
}
.add-task{
    background-color: #EE6C4D;
    color: #E0FBFC;
    border: none;
    width: 80%;
    text-align: center;
    border-radius: 2px;
    justify-self:baseline;
    position: absolute;
    bottom: 16px;
}
.add-task:hover{
    background-color: dimgray;
}
.task-form{
    background-color: hsl(0, 0%, 91%);
    height: 50vh;
    width: 50vh;
    position: absolute; 
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 12px;

}
.container-field{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.input{
    width: 100%;
    outline: none;
}
.input:focus{

    border: dodgerblue 2px solid;
}

.close-form{
    position: absolute;
    right: 2%;
    top: 2%;
}
.tasks-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 50px;
    height: 25vh;
}
.task-element{
    width: 90%;
    text-align: start;
    color: aliceblue;
    cursor: pointer;
    border-radius: 4px;
}

.task-element:hover{
    background-color:#3D5A80 ;
    
}
.button-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
}